// bower:scss
// endbower

body {
  background-color:#80d8ff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  text-align:center;
  /*background-image: url('./images/hearts.png');*/
  /*background-size:100%;*/
}
.date{
  width:80%;
  margin:0 auto;
  opacity:0;
  border-radius: 1em;
  background-color: #40caff;
  box-shadow: 10px 10px 5px #888888;
  h1{
    display:block;
    padding-top: 30px;
    background-color:#40caff;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    color:#18ffff;
    cursor: default;
    /*background-image:-webkit-linear-gradient(92deg,#f35626,#feab3a);*/
    /*-webkit-background-clip:text;*/
    /*-webkit-text-fill-color:transparent;*/
    /*animation:hue 60s infinite linear;*/
  }
  .time{
    background-color:#00b0ff;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
    padding-bottom: 5px;
  }
  p{
    display:inline-block;
    font-size:2em;
    padding-right: 5px;
    &:nth-child(3){
      color:#4527a0;
    }
    &:nth-child(2){
      color:#f50057;
    }
    &:nth-child(1){
      color:#ffa000;
    }
  }
  #copy{
    @extend .time;
    display:none;
  }
}
@media (max-width: 600px){
  .date{
    width:90%;
  }
}
