body {
  padding-top: 70px;
}
@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
.navbar-default{
  opacity: .9;
}
.blog-title{
  padding-top: 0px;
}
.blog-title h1{
  font-size: 30px;
}
.blog-title .short-desc{
  font-size: 20px;
  color: #999;
}
pre code{
      font-family: "Ubuntu Mono","Source Code Pro","Microsoft YaHei";
      font-size: 18px;
    }
.article p{
  font-family: "Ubuntu Mono","Microsoft YaHei";
  font-size: 16px;
  color: #8B7D6B;
}
.article h2{
  font-family: "Microsoft YaHei","Ubuntu Mono";
}

/*test*/
.footer{
  background-color: #2d3e50;
  color: #7f8c8d;
  padding-bottom: 50px;
  margin-top: 20px;
}
.footer-con{
  padding-top: 35px;
}









/**
 * ng animate test
 */

.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}