$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

header{
  background-color: rgb(22,98,162);
  .navbar{
    .center-block{
      width:70%;
    }
  }
  .link-us{
    padding-top: 20px;
  }
}
