// bower:scss
// endbower

$buddySize: 96px;
$btnSize: 45px;

.container{
  width: 320px;
  height: 430px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 10px auto;
  position: relative;
}

.back {
  width: 100%;
  height: 50%;
}
.box {
  position: relative;
  z-index: 2;
}
.buddy {
  width: $buddySize;
  height: $buddySize;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  margin-left: -($buddySize / 2);
  margin-top: -($buddySize / 2);
}

.inner {
  margin-top: 66px;
  text-align: center;
  span {
    font-size: 14px;
    color: #b4b4b4;
    display: inline-block;
    margin-top: 5px;
  }
  .btn {
    width: 90%;
    height: $btnSize;
    line-height: $btnSize;
    margin-top: $btnSize;
    background-color: #5677fc;
    color: #fff;
    border-border: 3px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover{
      background-color: #3b50ce;
    }
  }
}

// 背面样式
.pop{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  .close {
    position: absolute;
    top: 0;
    right: 10px;
    colro: #999;
    font-size: 24px;
    font-family: helvetica;
    cursor: pointer;
    &:hover {
      color: #111;
    }
  }

  h3{
    margin-top: 15px;
    color: #999;
    display: block;
    margin: 20px 0 30px 0;
  }
  img {
    widows: 125px;
    height: 125px;
    display: inline-block;
    margin: 10px;
  }
}
.container, .box, .pop, .buddy, .pop img{
  opacity: 0.0;
}
